.rbc-header {
    color: white;
    font-size: 14px !important;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 36px !important;
}

.rbc-allday-cell {
    display: none;
}

.rbc-event,
.rbc-background-event {
    z-index: 2;
    padding: 0px !important;
    border: none !important;
    border-radius: 0px;
}


.rbc-event-label {
    display: none !important;
}

.rbc-events-container {
    width: 100% !important;
    margin-right: 0px !important;
}

.rbc-timeslot-group{
    min-height: 120px;
}

.rbc-toolbar{
    display: none;
}